// Цвета светлой темы
$light-theme-colors: (
  primary: #fff,
  secondary: #f8f9fa,
  text: #212529,
  accent: #4493f8,

  button-primary-bg: #262626,
  button-primary-text: #fff,
  button-primary-border: #fff,
  button-primary-bg-hover: #000,

  button-secondary-bg: #ededed,
  button-secondary-text: #212529,
  button-secondary-border: #212529,
  button-secondary-bg-hover: #e0e0e0,
);

// Цвета тёмной темы
$dark-theme-colors: (
  primary: #212529,
  secondary: #2b3035,
  text: #dee2e6,
  accent: #4493f8,

  button-primary-bg: #fff,
  button-primary-text: #212529,
  button-primary-border: #000000d9,
  button-primary-bg-hover: #bfbfbf,

  button-secondary-bg: #ffffff0f,
  button-secondary-text: #fff,
  button-secondary-border: #d6d6d6,
  button-secondary-bg-hover: #ffffff1f,
);
