$spacing-unit: 16px;

$padding-small: $spacing-unit * 0.5;
$padding-medium: $spacing-unit * 2;
$padding-large: $spacing-unit * 3;

$margin-small: $spacing-unit * 0.5;
$margin-medium: $spacing-unit * 2;
$margin-large: $spacing-unit * 3;