@import '@fonts/Montserrat/stylesheet.css';

$font-family: 'Arial', 'Open Sans', 'Raleway', 'Lato', sans-serif;
$base-font-size: 16px;
$heading-font-weight: 700;
$text-font-weight: 400;
$line-height: 1.5;
